.AllTripList {
  margin-top: 1.25rem;
  max-height: 41.875rem;
  overflow-y: scroll;
  & > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__country {
    color: var(--bs-teal);
    font-weight: 700;
    font-size: 1.1rem;
  }
  &__date {
    margin-top: 0.5rem;
  }
  &__divider {
    margin: 0 1rem;
  }
}
